 {% extends 'base.html' %} 
 {% block title %}Tango - Add Category {% endblock %}
 {% block body_block %}
<div> 
	<h1>Add a Category</h1>
	<form  class="span6" id="category_form" method="post" action="/tango/add_category/">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
		    {{ hidden }}
		 {% endfor %}

		{% for field in form.visible_fields %}
		    {{ field.errors}}
		   <h5>{{field.help_text }}</h5>
		    {{ field }}
		{% endfor %} 
		<input class="btn btn-primary" type="submit" name="submit" value="Create Category"/>  
	 </form>
</div>
 {% endblock %}