{% extends 'base.html' %}
{% block title %}Welcome to Tango!{% endblock %}
{% block body_block %}
 <div>
  <div>
    <h1>{{ warn }}</h1> 
	{% if user.is_authenticated %}
	<h1>Rango says ...hello {{ user.username }}!</h1>
    {% else %} 
    <h1>Tango says... hello world!</h1> 
    {% endif %}
  </div>
  <div>
   	{% if categories %}
	<ul>
		{% for category in categories %}
		<li><a href="/tango/category/{{ category.slug }}">{{ category.name }}</a></li>
	 {% endfor %}
	</ul>
	{% else %}
        <strong>There are no categories present.</strong>
    {% endif %} 
  </div>
</div> 
<div>
  {% if user.is_authenticated %}  
   <ul class="nav"> 
     <a href="{% url 'add_category' %}">Add a New Category</a> 
   </ul>
   {% endif %}
</div>
{% endblock %}