<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="{% static 'jquery-2.0.3.min.js' %}"></script>
	<title>Rango</title>
</head>

<body>
	<a href="/tango/login/">Login</a>
	{% if user.is_authenticated %}
	<h1>Rango says ...hello {{user.username}}!</h1>
    {% else %}
    <h1>Tango says... hello world!</h1> 
    {% endif %}

   	{% if categories %}
	<ul>
		{% for category in categories %}
		<li><a href="/tango/category/{{ category.slug }}">{{ category.name}}</a></li>
	 {% endfor %}
	</ul>
	{% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    <a href="/tango/add_category/">Add a New Category</a><br />
	<a href="/tango/about/">About</a><br/> <a href="/tango/register/">Register</a>
 </body>
</html>